// Colors
$white: #fff;
$dark-navy: #1d2b36;
// Font-Sizes
$font-size-large: 1.8rem;
$font-size-small: 1.6rem;

//Spacing
$m-Size: 1.6rem;
$l-Size: 3.2rem;
$xl-Size: 4.8rem;
$s-Size: 1.2rem;
$desktop-breakpoint: 45rem;
