.dark-grey {
  background: $dark-navy;
}

.sidenav-margin {
  margin-right: 10px !important;
}

.primary-overlay {
  background: rgba(56, 40, 92, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-header {
  background: url(/images/showcase.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 600px;
  color: $white;
  position: relative;
}

.main-header .showcase {
  padding-top: 110px;
}

.scroll-icon {
  position: absolute;
  bottom: 5%;
  left: 47%;
  opacity: 0.5;
}

.box {
  padding: 40px 10px !important;
}

.box h4 {
  padding-bottom: 30px;
}

.section-boxes .row {
  margin-bottom: 0 !important;
}

.section-contact {
  position: relative;
}

.section-contact .card-panel {
  position: relative;
  z-index: 1;
}

#googlemap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

@media (max-width: 600px) {
  .main-header {
    height: 50vh;
  }
}

.show-in {
  // margin-top: 25px;
  // font-size: 21px;
  // text-align: center;
  animation: fadeAndScale 0.75s ease-in;
}
@keyframes fadeAndScale {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
