<section className="section location white-text">
  <div className="primary-overlay valign-wrapper">
    <div className="container">
      <div className="row">
        <div className="col s6">
          <h5>Location</h5>
          <p>iFeedback, INC</p>
          <p>4. Privet Drive, Little Whinging</p>
          <p>Surrey</p>
        </div>

        <div className="col s6 offset-l2">
          <h5 className="white-text">Links</h5>
          <ul>
            <li>
              <a href="https://portfolio.vishalrathore.info" target="_blank">
                <i className="fa fa-address-card"></i> Portfolio
              </a>
            </li>
            <li>
              <a href="https://github.com/vishalcoderathore" target="_blank">
                <i className="fa fa-github-square"></i> Github
              </a>
            </li>
            <li>
              <a href="https://facebook.com/Vishal.sam17491" target="_blank">
                <i className="fa fa-facebook-square"></i> Facebook
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
